<!DOCTYPE html>
<html>
 <%# 各種読み込み %>
 <head>
   <title><%= full_title(yield(:title)) %></title>
   <%= render 'layouts/rails_default' %>
   <%= render 'layouts/shim' %>
 </head>

 <%# ページ内構成 %>
 <body>
   <%# ヘッダー %>
   <%= render 'layouts/header' %>
   <%# コンテナ %>
   <div class="container">
     <%# 警告表示 %>
     <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= message %></div>
     <% end %>
     <%# 各種ページ %>
     <%= yield %>
     <%# フッダー %>
     <%= render 'layouts/footer' %>
   </div>
 </body>
</html>
